/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
}

body {
    background-image: url('./assets/images/fondo.jpg');
    background-attachment: fixed;
    background-size: cover;
}

body::before {
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

}



h1 {
    height: 96px;
    z-index: 200;
    position: relative;
    font-size: 4em;
    color: white
}


.container {
    padding-top: 50px;
    height: 98%
}
