.card {
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    font-size: 19px;
    font-family: Arial, Helvetica, sans-serif
}

.container {
    height: 100%
}

.fit-image{
    width: 100%;
    object-fit: contain;
    height: 120px; /* only if you want fixed height */
}

.card-body {
    box-shadow: 10px 8px 10px black;
}

button {
    margin-top: 15px
}

a {
    float: right;
    font-size: 25px;
}