<div class="card mb-3">
    <div class="card-body text-center">
        <img class="w-100" src="../../assets/teamlogos/{{team.logo}}">
        <span  class="w-100 d-inline-block">{{team.name}}
        </span>
        <span  class="w-100 d-inline-block">{{team.location}}
        </span>
        <span  class="w-100 d-inline-block">Posición: {{team.position}}
        </span>
        <span  class="w-100 d-inline-block">Puntos: {{team.points}}
        </span>

        <div class="row m-0 mt-2 d-inline-block">
        </div>

    </div>
</div>                       