.card {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 350px;
  height: 400px;
  color: white;
}


.card-body {
  height: 350px;
  padding: 40px;
}

h2 {
  color: white;
  margin-bottom: 30px
}

input {
  height: 45px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(221, 221, 221)

}

button {
  float: right;
  margin-top: 25px
}