<div class="container">
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="card mt-5">
    
                    <div class="card-body">
                        <h2>Iniciar Sesión</h2>
                        <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginData)">
                            <input type="text" placeholder="ingrese correo electrónico" formControlName="email" class="mt-2 w-100">
                            <input type="password" placeholder="ingrese contraseña" formControlName="password" class="mt-4 mb-4 w-100">
                            <button class="btn btn-primary">Ingresar</button>
                        </form>
    
                    </div>
                </div>
            </div>
        </div>
    
    </div>