<div class="container">
  <div class="row justify-content-center">
      <div class="col-7">
          <div class="card mt-5">

              <div class="card-body">
                  <h2>Iniciar Sesión</h2>
                  <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginData)">
                    <div class="form-group">
                      <input type="text" placeholder="ingrese correo electrónico" formControlName="email" class="form-control">
                    </div>
                    <div class="form-group">
                      <input type="password" placeholder="ingrese contraseña" formControlName="password" class="form-control">
                      </div>
                      <button class="btn btn-primary">Ingresar</button>
                  </form>

              </div>
          </div>
      </div>
  </div>
</div>