<nav class="nav d-block h100%">
  <img  class="m-3" src="./assets/images/main-logo.png" alt="Main logo" >
  <a class="nav-link active d-inline-block" href="/table"><fa-icon [icon]="faTable"></fa-icon>Tabla General</a>
  <!-- <a class="nav-link d-inline-block" href="/table"><fa-icon [icon]="faFutbol"></fa-icon>Partidos</a> -->
  <a class="nav-link d-inline-block" href="/teams"><fa-icon [icon]="faUsers"></fa-icon>Equipos</a>
  <a class="nav-link d-inline-block" href="/" (click)=logOut()><fa-icon [icon]="faSignOut"></fa-icon>Cerrar sesión</a>
</nav>
