.card {
  background-color: rgba(0, 0, 0, 0.7);
  min-width: 350px;
  color: white
}

input {
  font-family: Arial, Helvetica, sans-serif
}

.col-md-5 {
  margin-left: 35px
}

button {
  float: right;
  margin-top: 25px
}

h2 {
  margin-left: 25px
}