<h1 class="title text-center mt-0">Tabla General</h1>
<table>
  <thead>
    <th>Pos</th>
    <th>Equipo</th>
    <th>JJ</th>
    <th>JG</th>
    <th>JE</th>
    <th>JP</th>
    <th>GF</th>
    <th>GC</th>
    <th>DG</th>
    <th>Pts</th>
    <th><fa-icon [icon]="faEdit"></fa-icon></th>
  </thead>
  <tbody>
    <tr *ngFor='let team of teams$ | async' class="col-md-4 mt-4">
      <td>{{team.position}}</td>
      <td><img src="https://still-hollows-70530.herokuapp.com/{{team.logo}}" alt="Logotipo"><span class="name">{{team.name}}</span></td>
      <td>{{team.games_played}}</td>
      <td>{{team.games_won}}</td>
      <td>{{team.games_tied}}</td>
      <td>{{team.games_lost}}</td>
      <td>{{team.goals_in_favor}}</td>
      <td>{{team.goals_against}}</td>
      <td>{{team.goal_difference}}</td>
      <td>{{team.points}}</td>
      <td ><a href="/edit/{{team.id}}" class="text-dark"><fa-icon [icon]="faEdit"></fa-icon></a></td>
    </tr>
  </tbody>
</table>
